.profile_body {
	width: 100%;
	height: fit-content;
}

.profile_heading {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 450px;
	height: 400px;
	margin-left: 20px;
	margin: 0 auto;
}

.profile_heading_info {
	align-self: flex-start;
	margin-top: 130px;
}

.profile_status {
	margin-top: 20px;
	width: 120px;
	text-align: center;
	padding: 10px 3px;
	border: 4px solid #091353;
	border-radius: 40px;
	font-weight: 600;
	color: #091353;
}

.profile_heading_avatar {
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

.profile_heading_name {
	font-weight: 700;
	font-size: 2rem;
}

.profile_heading_email {
	font-weight: 400;
	font-size: 16px;
	color: #a5a5a5;
}

.badges {
	margin: 0 auto 0;
	width: 80%;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.badges_item {
	position: relative;
	background-color: transparent;
	border: .5px solid rgb(155, 155, 155);
	border-radius: 24px;
	width: 300px;
	height: 400px;
	padding: 24px;
	margin: 20px;
	text-align: center;
}

.badges_item img {
	width: 150px;
	height: auto;
	object-fit: contain;
	position: absolute;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
}

.badge_item_info {
	position: absolute;
	bottom: 50px;
	width: 270px;
}

.badges_item_name {
	font-size: 1rem;
	font-weight: 600;
}

.badges_item_earned_date {
	font-size: .9rem;
	font-weight: 400;
	color: #414D64;
	margin-top: 10px;
}

.profile_setting {
	width: 80%;
	max-width: 1500px;
	margin: 0 auto;
}

.profile_setting .setting_heading {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
}

.setting_item {
	background-color: #fff;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
	border-radius: 17px;
	margin: 0 auto;
}

.setting_item:not(:first-of-type) {
	margin-top: 20px;
}

.setting_item h3{
	font-weight: 500;
	font-size: 20px;
}

.setting_item_switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.setting_item_switch .switch_checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

.switch_checkbox:checked + .slider {
  background-color: #091353;
}

.switch_checkbox:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.setting_logout {
	text-align: center;
	width: 120px;
	height: fit-content;
	background-color: #D84141;
	border-radius: 17px;
	padding: 15px;
	cursor: pointer;
	margin: 50px auto;
}

.setting_logout h2 {
	color: white;
	font-size: 16px;
	font-weight: 600;
}